<ng-template #divModal let-modal>
    <div class="rounded-0 bg-white">
      <div>
        
        <app-create-student
          *ngIf="target === 'createStudent'"
          (cerrarModal)="modal.close()" 
          (studentUpdate)="testFunction($event)"        
        ></app-create-student>

        <app-edit-student
          *ngIf="target === 'editStudent'"
          (cerrarModal)="modal.close()"  
          [student]="data"  
          (studentUpdate)="testFunction($event)"     
        ></app-edit-student>

     
          <app-show-details-student
          *ngIf="target === 'showStudent'"
          (cerrarModal)="modal.close()"  
          [student]="data"
          [exam]="temp"  
          (studentUpdate)="testFunction($event)"     
        ></app-show-details-student>
      
      </div>
    </div>
</ng-template>
