<form [formGroup]="forma" (ngSubmit)="onSubmit()" class="mt-2">
    <div class="mb-2" style="height: 50px">
      <input
        type="text"
        class="form-control exo text-field shadow-none"
        formControlName="title"
        aria-describedby="title"
        placeholder="Titulo de la Pregunta"
         
      />
      <app-validations-errors class="mt-2 mb-2" [forma]="forma" formControlLabel="title" [minlenght]=3>
      </app-validations-errors>
    </div>

    <div class="mb-2" style="height: 50px">
      <input
        type="number"
        class="form-control exo text-field shadow-none"
        formControlName="point"
        aria-describedby="point"
        placeholder="Puntos de la Pregunta"
         
      />
      <app-validations-errors class="mt-2 mb-2" [forma]="forma" formControlLabel="point" [minlenght]=3>
      </app-validations-errors>
    </div>
    <button
      type="submit"
      [disabled]="forma.invalid"
      class="btn btn-primary aldrich shadow-none rounded-0 active mt-5"
      style="width: 100%; height: 50px; opacity: 1"
    >
 
    Crear Preguntas
    </button>
  </form>
